@import "bgColorsHover.scss";
@import "disney.scss";
@import "autos.scss";


.zoomContainer {
    overflow: hidden;
}
.zoomImg {
    transition: transform 0.3s ease;
    transform-origin: center;
    
    &:hover {
        transform: scale(1.1);
        
    }
}

/*                                      Movimiento header */


$imagen-ancho: 60px;
$movimiento-distancia: 150vh;
$movimiento-distancia-mobile: 350px;
$tiempo-animacion: 4s;

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: $imagen-ancho;
        position: relative;
        animation: mover-avion $tiempo-animacion ease-in-out 1;
    }
}

@keyframes mover-avion {
    0%, 100% {
        left: 0;
    }
    50% {
        left: $movimiento-distancia;
    }
    
}

@media screen and (max-width: 767px) {
    .containerLogo img {
      animation: mover-avion-mobile $tiempo-animacion ease-in-out 1;
    }
}
  
    @keyframes mover-avion-mobile {
        0%, 100% {
        left: 0;
    }
    50% {
      left: $movimiento-distancia-mobile;
    }
}

/*                                      comprar  */

.comprarImages {
    max-width: 960px;
    height: auto;
    img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
}

.comprarContainer {
    margin: 1%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    h3, h6 {
        text-align: justify;
    }
    p {
        text-align: end;
    }

    .comprarTexto {
        a {
            position: absolute;
            right: 10px;
            margin-right: 2%;
        }
    }
    
}

/*                                      destinos */

.comprarDestinos {
    @media (max-width: 767px) {
        display: block;
        height: 700px;
    }
}




