.bg-custom-orange {
    background-color: #ea6522e3;
}
.bg-custom-dark {
    background-color: #303030c9;
}
.font-size-custom {
    font-size: 10px !important;
}
.bg-custom-buscador {
    background-color: #404040cc;
}
.titulos-buscador {
    color: white;
}
